<div class="app-container">
  <div class="title">
    <h3>SD Account Creator</h3>
    <mat-spinner strokeWidth="5" diameter="30" class="spinner" *ngIf="loading"></mat-spinner>
    <pre class="info" *ngIf="vm.SelectedPersonasId">
      Personas Id: {{ vm.SelectedPersonasId }}
    </pre>
  </div>
  <ng-form class="sd-form" #sdCreationForm="ngForm">
    <mat-form-field>
      <mat-label>Select environment</mat-label>
      <mat-select
        name="environmentDropdown"
        placeholder="Please select"
        [(ngModel)]="vm.EnvId"
        (ngModelChange)="onSelectEnvironment()"
        [disabled]="loading"
      >
        <mat-option value="{{ evn.Id }}" *ngFor="let evn of environmentList" disabled="{{ !evn.IsEnable }}"> {{ evn.Name }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="vm.SelectedEnv && vm.SelectedEnv.Branches.length > 0">
      <mat-label>Select branch</mat-label>
      <mat-select
        name="branchDropdown"
        placeholder="Please select"
        [(ngModel)]="vm.BranchId"
        (ngModelChange)="onSelectBranch()"
        [disabled]="loading"
      >
        <mat-option value="{{ br.Id }}" *ngFor="let br of vm.SelectedEnv.Branches">{{ br.BranchName }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="vm.SelectedPersonasId">
      <input
        type="text"
        name="firstName"
        matInput
        placeholder="First Name"
        [(ngModel)]="client.FirstName"
        #firstName="ngModel"
        required
        [disabled]="loading"
      />
    </mat-form-field>
    <mat-form-field *ngIf="vm.SelectedPersonasId">
      <input
        type="text"
        name="lastName"
        matInput
        placeholder="Last Name"
        [(ngModel)]="client.LastName"
        #lastName="ngModel"
        required
        [disabled]="loading"
      />
    </mat-form-field>
    <mat-form-field *ngIf="vm.SelectedPersonasId">
      <input
        type="email"
        name="email"
        matInput
        placeholder="Email"
        [(ngModel)]="client.Email"
        #email="ngModel"
        required
        [disabled]="loading"
        email="true"
      />
    </mat-form-field>
    <mat-form-field *ngIf="vm.SelectedPersonasId">
      <input
        type="text"
        name="username"
        matInput
        placeholder="User Name (optional)"
        [(ngModel)]="client.UserName"
        #username="ngModel"
        [disabled]="loading"
      />
    </mat-form-field>
    <div class="button-row" *ngIf="vm.SelectedPersonasId">
      <button mat-raised-button color="primary" [disabled]="sdCreationForm.invalid || loading" (click)="onClickCreate()">Create</button>
      <button mat-stroked-button color="primary" (click)="onClickReset()">Reset</button>
    </div>
  </ng-form>
  <mat-card *ngIf="client.ActivationLink" class="active_link_conatiner">
    <h4>Activation Link</h4>
    <span> {{ client.ActivationLink }}</span>
  </mat-card>
</div>
