.app-container {
  padding: 1rem;
  max-width: 700px;
  .title {
    display: inline-flex;
    align-items: center;
    width: 100%;
    .spinner {
      margin-left: 2rem;
    }
    .info {
      margin-left: auto;
    }
  }
  .sd-form {
    display: grid;
    grid-template-columns: 48% 48%;
    grid-column-gap: 4%;
  }
  .button-row {
    grid-column: ~'1 / 3';
    display: inline-flex;
    > button {
        margin-right: 1rem; 
    }
  }
  .active_link_conatiner {
    word-break: break-all;
    overflow: auto;
    font-size: 13px;
    margin-top: 1rem;
  }
}
